*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Vi backup
*~
*.swp

#ctags
tags

# YARD artifacts
.yardoc
_yardoc
doc/

# tmp files and logs
*.sz7
nodup.log
